.main {
  display: grid;
  justify-content: center;
  
  &__container {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(4, 200px);
  }

  &__product {
    margin-bottom: 2px;
  }
}
